<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binar.challenge_chapter_tiga">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Challenge_Chapter_Tiga">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>

        <activity
            android:name=".ScreenEmpat"
            android:exported="false" />
        <activity
            android:name=".ScreenTiga"
            android:exported="false" />
        <activity
            android:name=".ScreenDua"
            android:exported="false" />
        <activity
            android:name=".ScreenSatu"
            android:exported="true">



        </activity>

    </application>
</manifest>